@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

$primaryColor: #ffff;
$secondaryColor: black;
$thirdColor: #010758;
$fourthColor: #490d61;
$fifthColor: #221f5c;
$sisxthColor: #ddd;
$seventhColor: #ff2963;
$eighththColor: #ddd;
$ninthColor: #C844B4; 
$tenthColor: #6BC1FE;

$fontSize1: 80px;
$fontsize2: 30px;
$fontSize3: 30px;
$fontSize4: 20px;
$fontSize5: 40px;
$fontSize6: 25px;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

//scroll brhavior-----style------
html{
    scroll-behavior: smooth;
}

// Landing page design----------------------------------page-1-------------------------------------------
.hero-1{
    width: 100%;
    height: 100vh;
    background-image: url(../asset/images/background-img.avif);
    background-repeat: no-repeat;
    background-size: cover;
    color: $primaryColor;
    .container{
        width: 100%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        p{
            font-size: $fontsize2;  
            font-weight: 200;
            letter-spacing: 1px; 
            text-shadow: 1px 1px 10px #000000;
        }
        h1{
            font-size: $fontSize1;
            font-weight: 900;
            letter-spacing: 2px;
            text-shadow: 1px 1px 40px #000000;
        }
        .social-icon{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px 0;
            flex-wrap: wrap;
        }
        .social-icon__item{
            list-style: none;
        }
        .social-icon__link {
            font-size: 2rem;
            color: #fff;
            margin: 0 10px;
            display: inline-block;
            transition: 0.5s;
        }
        .social-icon__link:hover {
            transform: translateY(-10px);
        }
        
    }
    .image{
        display: flex;
        justify-content: center;
        img{
            height: 15px;
            width: 30px;
            position: absolute;
            animation: img 1s linear infinite;
        }
        @keyframes img{
            100%{
                bottom: 0%;
                opacity: 0;
            }
            0%{
                bottom: 10%;
                opacity: 1;
            }
        }
    }
}

// Resposive style for Landing page using media query---------------------------------------------------

// ------------------------------------------------Page-2-------------------------------------------
.hero-2{
    width: 100%;
    height: 100vh;
    background: $primaryColor;
    .header-nav{
        height: 10vh;
        width: 100%;
        background: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px 0 0 0 ;
        a{
            height: 30px;
            padding: 0 40px 0px 40px;
            text-decoration: none;
            color: $secondaryColor;
            font-size: 24px;
            cursor: pointer;
        }
        a:hover{
            color: $seventhColor;
            overflow: hidden;
            text-align: center;
            border-radius: 5px;
        }
    }
    .content{
        height: 85vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .profile{
            height: 70vh;
            width: 70%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: $fifthColor;
            border-radius: 10px;
            img{
                width: 200px;
                border-radius: 50%;
            }
            h1{
                font-size: $fontSize3;
                padding-top: 30px;
                font-weight: 500;
                color: $sisxthColor;
            }
            p{
                font-size: $fontSize4;
                font-weight: 300;
                max-width: 80%;
                color: $sisxthColor;
                letter-spacing: 0.5px;
                text-align: center;
                padding-top: 20px;
            }
        }
    }
    .image{
        display: flex;
        justify-content: center;
        img{
            width: 40px;
        }
    }
}

// ------------------------------------------------Page-3-------------------------------------------

.hero-3{
    height: 100vh;
    width: 100%;
    background-image: url('../asset/images/pexels-ricky-esquivel-1964471.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    .title{
        width: 100%;
        height: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1{
            padding-top: 4%;
            font-size: $fontsize2;
            letter-spacing: 2px;
            font-weight: 500;
            color: $primaryColor;
            text-shadow: 1px 1px 10px #000000;
        }
    }
    .wrapper {
        width: 100%;
        height: 70vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 4%;
        .container {
            height: 400px;
            display: flex;
            flex-wrap: nowrap;
            justify-content: start;
            .card {
                width: 80px;
                border-radius: .75rem;
                background-size: cover;
                cursor: pointer;
                overflow: hidden;
                border-radius: 2rem;
                margin: 0 10px;
                display: flex;
                align-items: flex-end;
                transition: .6s cubic-bezier(.28,-0.03,0,.99);
                box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
                .row {
                    color: white;
                    display: flex;
                    flex-wrap: nowrap;
                    .icon {
                        background: #223;
                        color: white;
                        border-radius: 50%;
                        width: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 15px;
                    }
                    .description {
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        overflow: hidden;
                        height: 80px;
                        width: 520px;
                        opacity: 0;
                        transform: translateY(30px);
                        transition-delay: .3s;
                        transition: all .3s ease;
                        h4 {
                            text-transform: uppercase;
                            text-decoration: none;
                            text-shadow: 1px 1px 10px #000000;
                        }
                        p {
                            color: $primaryColor;
                            padding-top: 5px;
                            text-shadow: 3px 3px 5px #000000;
                        }

                    }
                }
            }
            input {
                display: none;
            }
            input:checked + label {
                width: 600px;
                .description {
                    opacity: 1 !important;
                    transform: translateY(0) !important;
                }
            }
            .card[for="c1"] {
                background-image: url('../asset/images/UI-Design-1.jpg');
            }
            .card[for="c2"] {
                background-image: url('../asset/images/UI-Design-2.jpg');
            }
            .card[for="c3"] {
                background-image: url('../asset/images/JS-Project-1.png');
            }
            .card[for="c4"] {
                background-image: url('../asset/images/JS-Project-2.png');
            }
            .card[for="c5"] {
                background-image: url('../asset/images/Graphic-Design-1.jpg');
            }
            .card[for="c6"] {
                background-image: url('../asset/images/Graphic-Design-2.jpg');
            }
        }
    }
    .btn{
        width: 100%;
        padding-top: 2%;
        display: flex;
        justify-content: center;
        align-items: center;
        // added css because of some issues.
        button {
            position: relative;
            display: inline-block;
            cursor: pointer;
            outline: none;
            border: 0;
            vertical-align: middle;
            text-decoration: none;
            background: $primaryColor;
            border-radius: 50px;
            box-shadow: 1px 1px 10px #000000;
            padding: 0;
            font-size: inherit;
            font-family: inherit;
        }
           
        button.learn-more {
            width: 12rem;
            height: auto;
        }
           
        button.learn-more .circle {
            transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
            position: relative;
            display: block;
            margin: 0;
            width: 3rem;
            height: 3rem;
            background: #282936;
            border-radius: 1.625rem;
        }
           
        button.learn-more .circle .icon {
            transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            background: #fff;
        }
           
        button.learn-more .circle .icon.arrow {
            transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
            left: 0.625rem;
            width: 1.125rem;
            height: 0.125rem;
            background: none;
        }
           
        button.learn-more .circle .icon.arrow::before {
            position: absolute;
            content: "";
            top: -0.29rem;
            right: 0.0625rem;
            width: 0.625rem;
            height: 0.625rem;
            border-top: 0.125rem solid #fff;
            border-right: 0.125rem solid #fff;
            transform: rotate(45deg);
        }
           
        button.learn-more .button-text {
            transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 0.75rem 0;
            margin: 0 0 0 1.85rem;
            color: #282936;
            font-weight: 700;
            line-height: 1.6;
            text-align: center;
            text-transform: uppercase;
        }
           
        button:hover .circle {
            width: 100%;
        }
           
        button:hover .circle .icon.arrow {
            background: #fff;
            transform: translate(1rem, 0);
        }
           
        button:hover .button-text {
            color: #fff;
        }
    }
    .image{
        display: flex;
        justify-content: center;
        padding-top: 2%;
        img{
            width: 40px;
        }
    }
}

// ------------------------------------------------Page-4-------------------------------------------

.hero-4{
    width: 100%;
    height: 50vh;
    .title{
        height: 10vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 6%;
        h1{
            font-size: $fontsize2;
            letter-spacing: 2px;
        }
    }
    .cotainer{
        height: 30vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;  
        p{
            padding: 0 20px 0 20px;
            font-size: $fontSize4;
            font-weight: 500;
        }
    }
    .image{
        display: flex;
        justify-content: center;

        img{
            width: 40px;
        }
    }
}

// ------------------------------------------------Page-5-------------------------------------------

.hero-5{
    width: 100%;
    height: 100vh;
    background-image: url('../asset/images/pexels-rostislav-uzunov-10458835.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .title{
        width: 100%;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 6%;
        h1{
            color: $primaryColor;
        }
    }
    .container{
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 4%;
        form{
            width: 670px;
            height: 400px;
            display: flex;
            justify-content: center;
            box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
            border-radius: 15px;
            background: rgba(255,255,255,0.1);
            backdrop-filter: blur(10px);
            flex-wrap: wrap;
            h1{
                color: $primaryColor;
                font-weight: 500;
                margin-top: 20px;
                width: 500px;
                text-align: center;
            }
            input{
                width: 290px;
                height: 40px;
                padding-left: 10px;
                outline: none;
                border: none;
                font-size: 15px;
                margin-bottom: 10px;
                background: none;
                border-bottom: 2px solid $primaryColor;
            }
            input::placeholder{
                color: $primaryColor;
            }
            #lastName, #mobile{
                margin-left: 20px;
            }
            h4{
                color: $primaryColor;
                font-weight: 300;
                width: 600px;
                margin-top: 20px;
            }
            textarea{
                background: none;
                border: none;
                border-bottom: 2px solid $primaryColor;
                color: $primaryColor;
                font-weight: 200;
                font-size: 15px;
                padding: 10px;
                outline: none;
                min-width: 600px;
                max-width: 600px;
                min-height: 80px;
                max-height: 80px;
            }
            textarea::-webkit-scrollbar{
                width: 1em;
            }
            textarea::-webkit-scrollbar-thumb{
                background-color: rgba(194,194,194,0.713);
            }
            #button{
                border: none;
                background: $primaryColor;
                border-radius: 5px;
                margin-top: 20px;
                font-weight: 600;
                font-size: 20px;
                color: #333;
                width: 100px;
                padding: 0;
                margin-right: 500px;
                margin-bottom: 30px;
                transition: 0.3s;
            }
            #button:hover{
                opacity: 0.7;
            }
        }
    }
}
// ------------------------------------------------footer-------------------------------------------

.footer {
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 30px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
      .social-icon,
      .menu {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
        flex-wrap: wrap;
      }
      
      .social-icon__item,
      .menu__item {
        list-style: none;
      }
      
      .social-icon__link {
        font-size: 2rem;
        color: #fff;
        margin: 0 10px;
        display: inline-block;
        transition: 0.5s;
      }
      .social-icon__link:hover {
        transform: translateY(-10px);
      }
      
      .menu__link {
        font-size: 1.2rem;
        color: #fff;
        margin: 0 10px;
        display: inline-block;
        transition: 0.5s;
        text-decoration: none;
        opacity: 0.75;
        font-weight: 300;
      }
      
      .menu__link:hover {
        opacity: 3;
      }
      
      .footer p {
        color: #fff;
        margin: 15px 0 10px 0;
        font-size: 1rem;
        font-weight: 300;
      }
      
      .wave {
        position: absolute;
        top: -100px; 
        left: 0;
        width: 100%;
        height: 100px;
        background: url("https://i.ibb.co/wQZVxxk/wave.png");
        background-size: 1000px 100px;
      }
      
      .wave#wave1 {
        z-index: 1000;
        opacity: 1;
        bottom: 0;
        animation: animateWaves 4s linear infinite;
      }
      
      .wave#wave2 {
        z-index: 999;
        opacity: 0.5;
        bottom: 10px;
        animation: animate 4s linear infinite !important;
      }
      
      .wave#wave3 {
        z-index: 1000;
        opacity: 0.2;
        bottom: 15px;
        animation: animateWaves 3s linear infinite;
      }
      
      .wave#wave4 {
        z-index: 999;
        opacity: 0.7;
        bottom: 20px;
        animation: animate 3s linear infinite;
      }
      
      @keyframes animateWaves {
        0% {
          background-position-x: 1000px;
        }
        100% {
          background-positon-x: 0px;
        }
      }
      
      @keyframes animate {
        0% {
          background-position-x: -1000px;
        }
        100% {
          background-positon-x: 0px;
        }
      }
}